@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <h4 class="display-8">Start organizing your tasks and stay productive!</h4>
    <h4 class="display-8">Get started by creating your first to-do item.</h4>
    <a href="/MyList/SaveUserName" style="text-decoration: none;">
        <button style="background-color: #0078D4; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">
          Create new To-Do item
        </button>
    </a>

</div>
